#npQuiz {

    display:none;
    background-color: bisque;
    
    }

    #formButtonTwo {

        display:none;

       
    }

    #countDown {
        font-size: 200%;
        text-align: center;
        font-family: 'Staatliches', cursive;

    }

    #startAgain  {

        display:none;

    }