body {
    background-image: url("tree_bark.png");
    height: 100%;



}

h1 {
    font-family: 'Staatliches', cursive;

}

.jumbotron {

    background-color: lightslategray;
}


#npQuiz {

    display: none;
    background-color: lightslategray;
    padding: 30px;

}

#formButtonTwo {

    display: none;


}

#countDown {
    font-size: 200%;
    color: brown;
    text-align: center;
    font-family: 'Staatliches', cursive;

}

#startAgain {

    display: none;

}

#result {
    font-size: 200%;
    text-align: center;
    font-family: 'Staatliches', cursive;

}

#playAgain {
    display: none;

    width: 100px;
    margin: -20px -50px;
    position: relative;
    top: 50%;
    left: 50%;

}